1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6

ans : 
a) Mathematical Operators -> *, -, /, + 
b) string -> 'hello'
c) integer -> 6
d) float -> -87.8

2. What is the difference between string and variable?

ans : 

Variable => a variable is where an information is stored. A variable can be an integer or float value or a boolean or a string.
STring => a type of information that can be stored inside a variable. String is the text value assigned to a variable.

3. Describe three different data types.

ans : 

1. Integer
2. float
3. Boolean

4. What is an expression made up of? What do all expressions do?

ans : An expression can be made up off operators which are mathematical operators like +, -, *, /, %, ^, etc. & operands which are the values or variables that are used in the expression.

Example :- c = a*b 

Expressions ultimately evaluates to a single value which is the result of the expression.

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

ans : Assignment statement is used to assign a value to a variable. 

An expression is used to evaluate a value.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

Ans : Bacon will still contain the value of 22. We didn't assign any new value to bacon,that's why it will still contain the value of 22.

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

ans : the first expression will concatenate the string spam with itself three times and the second expression will multiply the string spam by 3.

8. Why is eggs a valid variable name while 100 is invalid?

ans : 100 is a literal number and is not a valid variable name.
whereas eggs is a valid variable name.

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

ans : 
1. int()
2. float()
3. str()

10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 + 'burritos'

ans : The issue with the statemaent is that we're trying to do a string concatenation with a number and a string which is not possible.

In order to achieve our goal we can use the str() function to convert the number to a string and then use the + operator to concatenate the strings.

Or, we could use fstrings to achieve the same goal.

In [6]:
using_str = 'I have eaten ' + str(99) + ' burritos'
print(using_str)

I have eaten 99 burritos

In [7]:
using_fstrings = f"I have eaten {99} burritos"
print(using_fstrings)

I have eaten 99 burritos

or we could just use 99 inside inverted comma notation making it a string.

In [8]:
using_commas = 'I have eaten ' + '99' + ' burritos'
print(using_commas)

I have eaten 99 burritos